<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{_header :: head(pageTitle='Open Source Projects')}"></head>
<body>
    <main>
        <section>
            <h1>Open Source Projects</h1>
        </section>

        <p>Note: These repositories are on GitHub, but are not developed through GitHub and are all mirroed from an internal repository.</p>

        <h3>Redirector</h3>
        <p>Github: <a href="https://github.com/dominic-r/redirector">dominic-r/redirector</a></p>
        <p>This application is the first project I ever made in Java. It redirects requests from <a href="https://sdko.org">sdko.org</a> to my personal website <a href="https://www.d-roy.ca">d-roy.ca</a>.</p>

        <h3>TODO</h3>
    </main>
    <footer th:replace="~{_footer :: footer}"></footer>
</body>
</html> 