<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sitemap - Dominic's Website</title>
</head>
<body>
    <main>
        <section>
            <h1>Sitemap</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/oss">Open Source</a></li>
                <li><a href="/sitemap">Sitemap</a></li>
                <li><a href="/error">Error</a></li>
            </ul>
        </section>

        <hr />

        <footer>
            <p>&copy; 2025 Dominic R. All rights reserved.</p>
            <p><a href="/">Return to homepage</a></p>
        </footer>
    </main>
</body>
</html>