<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{_header :: head(pageTitle='Sitemap')}"></head>
<body>
    <main>
        <section>
            <h1>Sitemap</h1>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/oss}">Open Source</a></li>
                <li><a th:href="@{/sitemap}">Sitemap</a></li>
            </ul>
        </section>
    </main>
    <footer th:replace="~{_footer :: footer}"></footer>
</body>
</html>